.productImage{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400;
    border: 1px solid grey;
    padding: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
    transition: 0.5;
    margin-top: 25px;
    margin-bottom: 25px;

    
}


.productImage img{
    width: 200px;
    height: 350px;
}

.productname{
    border-bottom: 0px solid white;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.536);
    margin-bottom: 0%;
    

}

.productname :hover{
    color: black
}

.productImage > p{
    margin-top: 0%;
    color: tomato;
    font-size: 15px;
}